---
import { queryPosts } from '@/libs/query/post'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getCollection('post')

  return posts.map((post) => {
    return {
      params: {
        slug: post.slug
      },
      props: post,
    }
  })
}

const post = Astro.props
const { Content, headings } = await post.render()
---

<!-- {
  headings.map((heading) => {
    return (
      <p>{heading.text}</p>
    )
  })
} -->
<Content />