:root {
  --color-text-primary: rgb(43, 44, 63);
  --color-text-secondary: rgb(110, 113, 145);
  --color-text-accent: rgb(255, 81, 89);
  --color-surface-accent: rgba(255, 81, 89, 0.1);
  --font-size-title: 2.5rem;
  --font-size-large: 1.25rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.875rem;
}

body {
  font-family: 'Noto Sans JP Variable', sans-serif;
}