:root {
  /* Color */
  --color-text-primary: rgb(43, 44, 63);
  --color-text-secondary: rgb(110, 113, 145);
  --color-text-accent: rgb(255, 81, 89);
  --color-surface-accent: rgba(255, 81, 89, 0.1);
  
    /* Font Size */
    --radio: 1.25;
    --font-size-3xl: calc(var(--font-size-2xl) * var(--radio));
    --font-size-2xl: calc(var(--font-size-xl) * var(--radio));
    --font-size-xl: calc(var(--font-size-l) * var(--radio));
    --font-size-l: calc(var(--font-size-m) * var(--radio));
    --font-size-m: 1rem;
    --font-size-s: calc(var(--font-size-m) / var(--radio));
    --font-size-xs: calc(var(--font-size-s) / var(--radio));
    --font-size-xxs: calc(var(--font-size-xs) / var(--radio));

  /* Heading */
  --font-size-h1: var(--font-size-3xl);
  --font-size-h2: var(--font-size-2xl);
  --font-size-h3: var(--font-size-xl);
  --font-size-h4: var(--font-size-l);
  --font-size-h5: var(--font-size-m);
  --font-size-h6: var(--font-size-s);

  /* Spacing */;
  --space-xxl: calc(var(--space-xl) * var(--radio));
  --space-xl: calc(var(--space-l) * var(--radio));
  --space-l: calc(var(--space-m) * var(--radio));
  --space-m: 1rem;
  --space-s: calc(var(--space-m) / var(--radio));
  --space-xs: calc(var(--space-s) / var(--radio));
  --space-xxs: calc(var(--space-xs) / var(--radio));
}

body {
  font-family: 'Noto Sans JP Variable', sans-serif;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: 700;
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: 700;
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: 700;
}

h4 {
  font-size: var(--font-size-h4);
  font-weight: 700;
}

h5 {
  font-size: var(--font-size-h5);
  font-weight: 700;
}

h6 {
  font-size: var(--font-size-h6);
  font-weight: 700;
}