h1, h2, h3, h4, h5, h6 {
  border-bottom: 1px solid var(--color-border-primary);
  padding-bottom: var(--space-xxs);
  margin-bottom: var(--space-m);
}

/* code block */

pre {
  margin: 12px 0;
  padding: 12px 0;
}

/* inline code */

p > code {
  padding: 0.125rem 0.25rem;
  color: var(--color-text-accent);
  background-color: var(--color-surface-accent);
}

/* blockquote */

blockquote {
  margin: 12px 0;
  padding: 12px 0;
  border-left: 4px solid #cccccc;
  color: #666666;
}

p {
  line-height: 2;
}