---

---
  <header class='root'>
    <a href='/' class='link'>
      Kobapi.me
    </a>
  </header>

<style>
  .root {
    width: 100%;
    height: 3rem;
    background-color: var(--color-background-primary);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
  }

  .link {
    text-decoration: none;
    color: var(--color-text-accent);
    font-weight: 700;
    padding-left: 1rem;
  }
</style>
