---
interface Props {
  tag: string
}

const { tag } = Astro.props
---

<a class='root' href={`/tags/${tag}`}>
	<span>#</span>
	<span>{tag}</span>
</a>

<style>
  .root {
  /* NOTE: 以下2つはカード全体がリンクになっている状況でも押せるためにつけたプロパティ */
  position: relative;
  z-index: 1;
  text-decoration: none;
  color: var(--color-text-accent);
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px;
}

.root:hover {
  background-color: var(--color-surface-accent);
}

</style>